.home{
    min-height: 100vh;
}
.home-paper{
    background: linear-gradient(to bottom, #2B32B2, #1488CC);
    background-color: #2B32B2;
}
.main-banner{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(54,209,220,0.5),rgba(94,124,229, 0.5));
    background-position: center;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.main-banner-overlay{
    background-image: url("../../Assets/comics-bg-1.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}

.i-circle-purple{
    border-radius: 50%;
    background:linear-gradient(to bottom left,#CB1EFF, #FF75E4, #FF1EC4);
    box-shadow: 0 0 10px -1px #333;
    padding: 0.3em;
}

@media screen and (max-width: 600px){
    .main-banner h1{
        font-size: 4.5rem !important;
    }
}